@use "../styles/abstracts/variables" as *;

.btn-primary {
  width: 201px;
  height: 46px;
  border-radius: 35px;
  background-color: $bg-black;
  border-radius: 35px;
  color: $bg-white-pure;
  align-items: center;
  display: flex;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
