@use "../styles/abstracts/variables" as *;

.two-col__wrapper {
  background: $bg-white-coolwhite;
  .content-wrapper {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .inner-content__wrapper {
    padding-bottom: 30px;
    max-width: 325px;
    margin: auto;
    @media (min-width: 1200px) {
      width: 36%;
      max-width: unset;
      margin: unset;
    }
    p.start-text {
      color: #2e302e;
      max-width: 324px;
    }
    h2 {
      font-size: 40px;
      letter-spacing: -0.83px;
      @media (min-width: 576px) {
        font-size: 50px;
      }
    }
    ul.content-list {
      padding: 30px 0 0 0;
      li {
        padding-bottom: 24px;
        border-bottom: 2px solid rgb(29 60 52 / 10%);
        padding: 5px 0;
        margin: 5px 0;
        &:last-child {
          border-bottom: 0;
        }
        p {
          margin: 0;
          font-size: 14px;
          @media (min-width: 1200px) {
            font-size: 18px;
          }
        }
      }
    }
    .btn-add-cart {
      width: 100%;
      max-width: 380px;
      font-size: 14px;
      margin-top: 33px;
      @media (min-width: 768px) {
        padding: 9px;
        font-size: 18px;
      }
      span {
        margin-left: 26px;
        font-size: 14px;
        color: gray;
        text-decoration: line-through;
        @media (min-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
  .img-wrapper {
    max-width: 606.97px;
    margin: 30px auto;
    max-width: 325px;
    @media (min-width: 1200px) {
      width: 64%;
      max-width: 596.99px;
      margin: 0 0 0 auto;
    }
  }
}
