@use "../styles/abstracts/variables" as *;

.free-shipping__wrapper {
  background-color: $bg-yellow;
  color: $bg-black-text;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.33px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
}
.nav-bar__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 768px) {
    padding: 5px 0;
  }
  .hamburger-menu__wrapper {
    display: flex;
    width: 50%;
    align-items: center;
    @media (min-width: 425px) {
      width: 25%;
    }
    button {
      padding: 10px 16px;
      background: none;
      border: 0;
      span {
        display: block;
        margin: 8px 0;
        width: 32px;
        height: 1px;
        background-color: $bg-black;
      }
    }
    .logo-wrapper {
      max-width: 30px;
      @media (min-width: 992px) {
        max-width: 42px;
      }
    }
  }
  .button-cart__wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    @media (min-width: 425px) {
      width: 75%;
      align-items: flex-end;
      @media (min-width: 1200px) {
        margin-right: 30px;
      }
    }
    .get-started-mobile-btn {
      max-width: 32px;
      margin-right: 14px;
      path,
      circle {
        fill: $bg-black;
      }
      @media (min-width: 425px) {
        display: none;
      }
    }
    .go-to-cart {
      display: none;
      @media (min-width: 425px) {
        display: flex;
        margin-right: 15px;
        font-size: 18px;
        @media (min-width: 768px) {
          margin-right: 30px;
        }
      }
    }
    .cart {
      position: relative;
      a {
        display: block;
        margin-right: 10px;
        img {
          max-width: 32px;
        }
      }
      span {
        position: absolute;
        background-color: #000;
        color: #fff;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        text-align: center;
        font-size: 15px;
        top: -10px;
        right: 0px;
        @media (min-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
}
