.section-wrapper {
  .content-wrapper {
    max-width: 800px;
    margin: auto;
    padding: 30px 15px;
    @media (min-width: 1200px) {
      max-width: 1264px;
      padding: 90px 15px;
    }
  }
}
