@use "./assets/sections/GetTheSet.scss";
@use "./assets//styles/abstracts/variables" as *;

html,
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background-color: $bg-white-coolwhite;
}
img {
  width: 100%;
}
p {
  color: $bg-black-text;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(46, 48, 46, 1);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: black;
  letter-spacing: -1.33px;
  text-transform: uppercase;
  margin: 0;
}
a {
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  &.btn-primary {
    transition: ease all 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
}

ul.content-list {
  margin: 0;
  padding: 0;
  max-width: 576px;
  margin: auto;
  text-align: left;
  @media (min-width: 768px) {
    margin: 0;
  }
  li {
    list-style: none;
    position: relative;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      font-size: 18px;
    }
    img {
      max-width: 22px;
      margin-right: 13px;
    }
  }
}
button,
input {
  font-family: "Roboto Mono", monospace;
}
button {
  cursor: pointer;
  transition: ease all 0.3s;
  &:hover {
    opacity: 0.9;
  }
}
input {
  width: 100%;
  padding: 0;
  outline: none;
  margin: 0;
  border: none;
}
