@use "./assets//styles/abstracts/variables" as *;

html,
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}
img {
  width: 100%;
}
p {
  color: $bg-black-text;
  font-size: 14px;
  font-weight: 400;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(46, 48, 46, 1);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: black;
  letter-spacing: -1.33px;
  text-transform: uppercase;
  margin: 0;
}
a {
  cursor: pointer;
  &.btn-primary {
    transition: ease all 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
}
