$bg-yellow: #ffba00;
$bg-black: #222430;
$bg-black-pure: #000;

$bg-white-pure: #fff;
$bg-white-offwhite: #fffaf6;
$bg-white-coolwhite: #eff7fa;
$bg-white-mint: #f5feff;
$bg-black-text: rgba(46, 48, 46, 1);
